
body {
    background-color: #f8f9fa;
    font-family: 'Lexend', 'sans-serif';
    margin-bottom: 30px;
}

.container {
    max-width: 80%; /* Adjust the width based on your preference */
    margin: 0 auto; /* Center the container horizontally */
}

.jumbotron {
    background-color: #58a3f3;
    color: #ffffff;
    border: 1px solid #dac1c1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-shadow: 3px 4px rgb(15, 14, 14);
}

#search-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

#search-form {
    flex: 0 0 48%;
    margin-right: 20px;
}

#cityInput {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-search {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.custom-icon {
    font-weight: bold;
    font-size: 1.20rem; /* Adjust font size as needed */
}

#searchHistory {
    flex: 0 0 48%;
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

#currentWeather,
#forecast {
    width: 100%;
    margin-top: 20px;
}

.current-weather-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #b1d3f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.current-weather-container h2 {
    font-size: 2rem; /* Increase font size for city name */
    text-align: center;
}

.current-weather-container p {
    font-size: 1.15rem;
    text-align: center;
}

.current-weather-container img {
    width: 70px; /* Adjust the width of the icon as needed */
    height: 70px; /* Adjust the height of the icon as needed */
    display: block; /* Make the image a block element */
    margin: 0 auto; /
}

.hidden {
    display: none;
}

#clearHistoryBtn {
    float: right;
}