/* Add your custom styles here */

body {
    background-color: #f8f9fa;
    font-family: 'Lexend', 'sans-serif';
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #58a3f3;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-shadow: 3px 4px rgb(15, 14, 14);
}

#search-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

#search-form {
    flex: 0 0 48%;
    margin-right: 20px;
}

#cityInput {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-search {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.custom-icon {
    font-weight: bold;
    font-size: 1.20rem; /* Adjust font size as needed */
}

#searchHistory {
    flex: 0 0 48%;
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

#currentWeather,
#forecast {
    width: 100%;
    margin-top: 20px;
}

.hidden {
    display: none;
}

